## tmp folder files
tmp/*

## cache files
root/cache/*
!root/cache/index.html
!root/cache/.htaccess

## log files
root/logs/*
!root/logs/index.html
!root/logs/.htaccess

## sublime text files
*.sublime-project
*.sublime-workspace
